html body {
	height: 100%;
}
.name {
    text-align: center;
}

/*particles*/

/* ---- reset ---- */
 body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }


/* ---- particles.js container ---- */ 
#particle {
	background-color: #1d2d50;
	position: absolute;
	right:0;
	left:0;
	height: 100%; 
  }
  #overlay {
	position: absolute;
	color: white;
	margin-top: 20%;
	margin-left: 25%;
	 width: 50%;
	border: 3px solid white;
	box-shadow: 5px 5px 30px white;
	padding: 10px;
	text-align: center;
	font-size: xx-large;
  }

  #overlay:hover {
	  box-shadow: 5px 10px 70px white;
  }
